body {
  background-image: url("../media/upperwave.svg");
  background-repeat: no-repeat;
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
}

.titel {
  margin-left: 160px;
}

h1 {
  color: #c3305d;
  font-size: 50px;
  margin: 0;
}

.library {
  margin: 0;
  color: #c3305d !important;
}

.layout {
  margin-top: 14%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layoutline {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layoutpdf {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.underline {
  background-color: #c3305d;
  width: 60%;
  height: 5px;
  border-radius: 50px;
}

.textarea {
  padding: 25px;
  width: 60%;
  background-color: #fdcd83;
  color: #c3305d;
  box-shadow: 17px 17px 0 #ff6666;
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 500;
}

.content {
  margin-top: 2%;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  color: #c3305d;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.back-to-top i:hover {
  color: #fff;
  transition: 3s;
  top: 5px;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #c3305d;
  font-weight: bold;
  font-size: 32px;
  user-select: none;
  margin-left: -100px;
  margin-right: -100px;
  background-color: #fdcd83;
  box-shadow: 5px 5px 0 #ff6666;
}

.prev:hover {
  color: #fff;
  transition: 0.6s;
}

.next {
  right: 0;
}

.next:hover {
  color: #fff;
  transition: 0.6s;
}

.text {
  color: #c3305d;
  font-size: 35px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.img-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.img-layout img {
  margin: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  --c: #c3305d;
  color: var(--c);
  font-size: 16px;
  border: 0.2em solid var(--c);
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  cursor: pointer;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: #fdcd83;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}

.textareareflectie {
  padding: 25px;
  width: 60%;
  color: #fdcd83;
  background-color: #c3305d;
  box-shadow: 17px 17px 0 #e45d86;
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 500;
}

